@font-face {
    font-family: 'ubunturegular';
    src: url('ubuntu-r-webfont.woff2') format('woff2'),
         url('ubuntu-r-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* CSS Reset */
*, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  #root, #__next {
    isolation: isolate;
  }

/* My CSS */
html {
    font-family: 'ubunturegular', sans-serif;
    background-color: white;
}

#menu {
  display: flex;
  border: 1px solid black;
  height: 8rem;
}

.menu-img {
  margin: 1em;
}

.menu-link {
  font-size: 1.2em;
  color: black;
  text-decoration: none;
}